<div class="alert alert-info" style="margin-top:5%" *ngIf="loading">
        Cargando...
</div>
<div class="container animated fadeIn " *ngIf="!loading">
   
    <div class="row justify-content-center">
        <div class="col-md-8">
                <div class="card-columns">
                        <div 
                        (click)="getInfo(results[movie].id)"
                        *ngFor="let movie of (results | key:'10')" class="card" style="margin-top:7%;">
                            <img [src]="getImage(results[movie])" alt="" class="card-img-top pointer">
                            <div class="card-body">
                                    <div class="card-title pointer">
                                            <h1>{{results[movie].title}}</h1>
                                        </div>
                                        <div class="card-text pointer">
                                            <h3>Release date : <small>{{results[movie].release_date}}</small> </h3>
                                        </div>
                            </div>
                        
                        </div>
                    </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
        <nav aria-label="Page navigation" style="margin-bottom: 2%;">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" (click)="toPage(page-1)">Previous</a></li>
                  <li class="page-item" [ngClass]="{'active':(number+1)==page}" *ngFor="let number of (results | pageNumber:nPages)" ><a (click)="toPage(number+1)" class="page-link " >{{number+1}}</a></li>
                  <li class="page-item"><a class="page-link" (click)="toPageS(page,1)" >Next</a></li>
                </ul>
              </nav>
</div>