<div class="alert alert-info" style="margin-top:5%" *ngIf="loading">
        Cargando...
</div>
<div class="container animated fadeIn " *ngIf="!loading">
    <div class="row justify-content-center">
        <div class="col-md-8">
                <div class="card-columns">
                        <div 
                        (click)="getInfo(results[movie].id)"
                        *ngFor="let movie of (results | key:'10')" class="card" style="margin-top:7%;">
                            <img [src]="(imageURL+results[movie].poster_path)" alt="" class="card-img-top pointer">
                            <div class="card-body">
                                    <div class="card-title pointer">
                                            <h1>{{results[movie].title}}</h1>
                                        </div>
                                        <div class="card-text pointer">
                                            <h3>Release date : <small>{{results[movie].release_date}}</small> </h3>
                                        </div>
                            </div>
                        
                        </div>
                    </div>
        </div>
    </div>
</div>
<ul class="pages" *ngIf="!loading">
    <li class="pointer" *ngFor="let number of (results | pageNumber:nPages)" [ngClass]="{'black':page==(number+1)}"><a 
        (click)="toPage(number+1)"
        >{{number+1}}</a></li>
</ul>